.header {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: #2ecc71;
  color:#02542D;
  margin-left: 0;
  margin-right: 0;
}

.logo {
  img {
    width: 120%;
    height: 105%;
  }
}

.searchInput {
  border-top-right-radius: 999px !important;
  border-bottom-right-radius: 999px !important;
  border-left: none !important;
}

.inputGroupText {
  border-top-left-radius: 999px !important;
  border-bottom-left-radius: 999px !important;
  border-right: none !important;
}

.username {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 50px;
}

.cartIcon {
  cursor: pointer;
  margin-bottom: 55px;
}
