.login{
    
}

.title{
    font-weight: 600;
    font-size: 2rem;
}

.btn-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: black solid 1px;
    border-radius: 5px;
}

.btn-login{
    color: white;
    background: #008000;
}