.header {
  background-color: #2ecc71;
  color: white;

  .logo img {
    width: 100px;
    height: 100px;
  }

  .inputGroupText {
    border-top-left-radius: 999px !important;
    border-bottom-left-radius: 999px !important;
    border-right: none !important;
  }

  .searchInput {
    border-top-right-radius: 999px !important;
    border-bottom-right-radius: 999px !important;
    border-left: none !important;
  }

  .authButtons, .user {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .authButton,
  .logoutBtn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .username {
    font-weight: bold;
  }

  .cartIcon {
    cursor: pointer;

    svg {
      fill: none;
      stroke: black;
    }
  }
}