.title {
  color: #02542d;
  font-size: 2.4rem;
}
.form-role {
    margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.role-item {
  cursor: pointer;
  background: #11da65;
  padding: 1rem;
  border-radius: 1rem;
  width: 150px;
  text-align: center;
}
